

.menu {
    padding-left: 10%;
    padding-right: 10%;
    height: 60px;   
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background-color:#5271ff;
   
}


a {
    text-decoration: none;
}
  
a:hover {
    color: white;
}

a.nav-item {
    color: white;
}

a.nav-item:hover {
    color:  white;
}

nav a{
    color:white;
    text-decoration-line: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;  
}

.intro-about{
    height: 500px;  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: #5271ff;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Open Sans', sans-serif;
}

.title-myback{
    padding-top: 20%;
}

.myback{
    font-size: 70px;
    color: white;
}

ul li {
    list-style-type: square;
    margin:6px;
    padding:0px;
    text-transform: uppercase;
}

.education-section{
    height: 600px;  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: #ebeae7;
    padding-left: 10%;
    padding-right: 10%;
}

.education-text{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    font-family: 'Open Sans', sans-serif;
    color: black;
    display:block;
    margin:auto;
}

.education{
font-family: 'Open Sans', sans-serif;
font-weight: bolder;

}

.title-education{
font-family: 'Open Sans', sans-serif;
font-weight: 1;
font-size: 15px;
}

.subtitle-education{
font-family: 'Open Sans', sans-serif;
font-weight: 1;
font-size: 12px;
}
.student{
 max-width: 40%;
 height: auto;
}

.experience-section{
    height: 900px;  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: white;
    align-content: center;
    padding-top: 2%;
    padding-bottom: 5%;
}

.experience-text{
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Open Sans', sans-serif;
    color: black;
    display:block;
    margin:auto;
}

.experience{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}


.function{
    font-family: 'Open Sans', sans-serif;
    font-weight: 1;
    font-size: 12px;
}

.digital-marketing{
    height: 400px; 
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: #ebeae7;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.digital-marketing-experience{
    display:block;
    margin:auto;
    padding-top: 8%;
}

.digital-marketing-title{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 30px;
    text-align: center;
}

.digital-marketing-image{
    max-width: 100%;
    height: auto;
}


.digital-marketing-languages{
    height: 400px; 
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.languages-skills{
    padding-top: 8%;
}

.skills{
    max-width: 50%;
    height: auto;
    display:block;
    margin:auto;
      
}

.footer{
    background-color:#5271ff;
    text color:#5271ff ;
    height: 50px;  
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
}

a.name-footer {
    text-decoration: none;
    color: white
}
  
a.name-footer:hover {
    color: white
}
