*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
	
.menu {
    padding-left: 10%;
    padding-right: 10%;
    height: 60px;   
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background-color:#ebeae7
   
}


a {
    text-decoration: none;
  }
  
a:hover {
    color: black;
  }

a.nav-item {
    color: #5271ff;
}

a.nav-item:hover {
    color:  black;
}

nav a{
    color:#5271ff;
    text-decoration-line: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
}
.intro {

    height: 500px;  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: #ebeae7;
    padding-left: 10%;
    padding-right: 10%;

}



.myface {
    
    height: 500px;
    float: left;
    padding-bottom: 0%;
   

}

.text{
    
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Open Sans', sans-serif;
    color: black;
    display: block;
}

.hello{
    font-size: 32px;

}

.title{
    font-size: 28px;
    
}

.graduated{
    font-size: 20px;
}

.about {

    height: 500px;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Open Sans', sans-serif;

}

.fa-graduation-cap{
    color:#5271ff ;
}
.fa-briefcase{
    color: white;
}
.fa-thumbs-up{
    color:#5271ff;  
}
.about-1{
text-align: center;
}

.about-2{
    text-align: center;
    font-size: 35px;
    opacity: 0.2;
}
.icons{
    display: flex;
    justify-content: center;

}

.education{
  width:25%;
  height:0;
  padding-top:25%;
  position:relative;
  background: #ebeae7;
}

.prof-experience{
  width:25%;
  height:0;
  padding-top:25%;
  position:relative;
  background: #5271ff;
  color: greenyellow;
}

.interests{
  width:25%;
  height:0;
  padding-top:25%;
  position:relative;
  background: #ebeae7;
}

.icons-title{
font-style: ;
}

.about-text{
    font-size: 10px;
}

.experiences{
    height: 700px;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: #ebeae7;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Open Sans', sans-serif;

}

.experiences-1{
    text-align: center;
}

.experiences-2{
    text-align: center;
    font-size: 35px;
    opacity: 0.2;
}

.photos-column-1{
    display: flex;
    justify-content: center;

}

.photos-column-2{
    display: flex;
    justify-content: center;
}
.photo-1 {
    display: flex;
    height: 250px;
}
.photo-2 {
    display: flex;
    height: 250px;
}
.photo-3{
    display: flex;
    height: 250px;
}
.photo-4 {
    display: flex;
    height: 250px;
}
.photo-5 {
    display: flex;
    height: 250px;
}
.photo-6{
    display: flex;
    height: 250px;
}

.small{
    height: 50px;  
    padding-bottom: 1%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: white;
    font-family: 'Open Sans', sans-serif; 
    text-align: center; 
}

.sentence{
    color: black;
    font-style: italic;
}

.writer{
   color: #5271ff ;
}

.interest{ 
    
    height: 500px;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: #5271ff;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Open Sans', sans-serif;
}

.interest-1{
    text-align: center;
    color: white;
}

.interest-2{
    text-align: center;
    font-size: 35px;
    opacity: 0.2; 
    color: white;
}

.icon-interest{
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
} 

.text-interest{
background-color: white;
display: flex;
height: 100px

}

.titles-interest{
    color: #5271ff;
   
}

.footer{
    background-color:#ebeae7;
    text color:#5271ff ;
    height: 50px;  
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
}

a.name-footer {
    text-decoration: none;
    color: #5271ff;
  }
  
a.name-footer:hover {
    color: black;
  }
