*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
	
.menu {
    padding-left: 10%;
    padding-right: 10%;
    height: 60px;   
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background-color:#ebeae7
}


a {
    text-decoration: none;
  }
  
a:hover {
    color: black;
  }

a.nav-item {
    color: #5271ff;
}

a.nav-item:hover {
    color:  black;
}

nav a{
    color:#5271ff;
    text-decoration-line: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
}
.intro {

    height: 500px;  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: #ebeae7;
    padding-left: 10%;
    padding-right: 10%;

}



.myface {
    
    height: 500px;
    float: left;
    padding-bottom: 0%;
   

}

.text{
    
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Open Sans', sans-serif;
    color: black;
    display: block;
}

.hello{
    font-size: 32px;

}

.title{
    font-size: 28px;
    color: #5271ff;
    line-height: 25pt;
    
}

.graduated{
    font-size: 15px;
    line-height: 25pt;
    font-weight: lighter;

}

.about {

    height: 500px;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Open Sans', sans-serif;

}

.text-center{
text-align: center;
}
.fa-graduation-cap{
    color:#5271ff;
    
}
.fa-briefcase{
    color: white;
}
.fa-thumbs-up{
    color:#5271ff;  
}
.about-1{
color: black;
font-size: 30px;
text-align: center;
text-shadow: 7px 7px 6px grey;
}

.icons{
    display: flex;
    justify-content: center;

}

.education{
box-sizing: content-box;
width: 300px;
height: 300px;
border: solid#ebeae7 10px;
background-color: #ebeae7;
padding: 5px;
color:#5B6DCD;
justify-content: center;
padding-top: 10%;

}

.prof-experience{
box-sizing: content-box;
width: 300px;
height: 300px;
border: solid #5B6DCD 10px;
background-color: #5B6DCD ;
padding: 5px;
color: white;
font-weight: lighter;
padding-top: 10%;
 
}

.interests{
    box-sizing: content-box;
    width: 300px;
    height: 300px;
    border: solid#ebeae7 10px;
    background-color: #ebeae7;
    padding: 5px;
    color:#5B6DCD;
    font-weight: lighter;
    padding-top: 10%;
}

.icons-title{
font-size: 25px;
text-align: center;
font-family: 'Open Sans', sans-serif;
line-height: 20pt;
font-weight: lighter;
}

.about-text{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 20pt;
    text-align: center;
    font-weight: lighter;
}

.experiences{
    height: 700px;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: #ebeae7;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Open Sans', sans-serif;

}

.experiences-1{
color: #5271ff ;
font-size: 30px;
text-align: center;
text-shadow: 7px 7px 6px grey;
}


.photos-column-1{
    display: flex;
    justify-content: center;

}

.photos-column-2{
    display: flex;
    justify-content: center;
}
.photo-1 {
    display: flex;
    height: 250px;
}
.photo-2 {
    display: flex;
    height: 250px;
}
.photo-3{
    display: flex;
    height: 250px;
}
.photo-4 {
    display: flex;
    height: 250px;
}
.photo-5 {
    display: flex;
    height: 250px;
}
.photo-6{
    display: flex;
    height: 250px;
}

.small{
    height: 50px;  
    padding-bottom: 1%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: white;
    font-family: 'Open Sans', sans-serif; 
    text-align: center; 
}

.sentence{
    color: black;
    font-style: italic;
}

.writer{
   color: #5271ff ;
}

.interest{ 
    
    height: 450px;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    background-color: #5271ff;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Open Sans', sans-serif;
}

.interest-1{
color: white;
font-size: 30px;
text-align: center;
text-shadow: 7px 7px 6px white
}


.icon-interest{
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
} 

.list-icons{
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    list-style-type: none;
    text-align: right;
    width: 15em;
}

.icon{
    background-repeat: no-repeat;
    background-position: 100% .4em;
    padding-right: 2em;
    margin: 5em 0;
}


.title-interest{
    color: #5271ff;
}

.footer{
    background-color:#ebeae7;
    text color:#5271ff ;
    height: 50px;  
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
}

a.name-footer {
    text-decoration: none;
    color: #5271ff;
  }
  
a.name-footer:hover {
    color: black;
  }
